<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Closure Exercise</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <!-- body goes here -->
    <h2>Closure Exercise</h2>

    <div id="container">
    </div>

    <script src="/js/vendor/jquery-2.1.1.min.js"></script>
    <script src="/js/playground.js"></script>
    <script>
      /**
        CLOSURE ASSIGNMENT!

        LEVEL 1: In playground.js, fix the iterative loop so that when you receive calls back from the server, the correct
          value for i is returned.

        LEVEL 2: Upon retrieving all of the callbacks from the server, sort them and construct the entire ordered string.
          Pass this string from the module, and then in this script tag, append them to #container. NOTE: to make sure
          that the string looks right, run a RegExp replace on the final string to replace "\n" with "<br />".
      */
    </script>

  </body>
</html>
