#play-quiz-button, #create-quiz-button {
  width: 45%;
  height: 150%;
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
}

.my-box {
  overflow: hidden;
}
h2 {
  text-align: center;
  padding-bottom: 20px;
}
